<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Le's Bookstore</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />


<!-- Custom styles for this template -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />

<link rel="icon" th:href="@{/image/apple-touch-icon.png}" />


<!-- Data Table Content -->
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.jqueryui.min.css}" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />


<!-- Text Editor HTML -->
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector : 'textarea'
	});
</script>
</head>

<body>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Fragmento da Navbar -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">
								Books
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/book/add}">Add new book</a>
								</li>
								<li>
									<a th:href="@{/book/bookList}">View book list</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a th:href="@{/logout}">Sign out</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Fragmento dos Scripts -->
	<div th:fragment="body-bottom-scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->

		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<!-- Data Tables -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>



	</div>

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->
</body>
</html>