<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>

<body>

<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->

<!-- Inicio - Replace da Navbar -->
<div th:replace="common/header::navbar"></div>
<!-- Fim - Replace da Navbar -->

<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->

<div class="container">
	<div class="table-responsive">
		<table id="bookListTable" class="table table-bordered table-hover table-striped">
			<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
				<th>List Price</th>
				<th>Our Price</th>
				<th>Active?</th>
				<th>Operations</th>
			</tr>
			</thead>
			<tbody>
			<tr data-th-each="book: ${bookList}">
				<td th:text="${book.id}"></td>
				<td>
					<a th:href="@{/book/bookInfo(id=${book.id})}">
						<span th:text="${book.title}"></span>
					</a>
				</td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.category}"></td>
				<td th:text="${#numbers.formatDecimal(book.listPrice, 0, 'COMMA', 2, 'POINT')}"></td>
				<td th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'COMMA', 2, 'POINT')}"></td>
				<td th:text="${#strings.capitalizeWords(book.active)}"></td>
				<td>
					<a href="" class="btn btn-danger">Delete</a>
					<a th:href="@{/book/updateBook?id=}+${book.id}" class="btn btn-success">Update</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->

<!-- Inicio - Replace dos Scripts -->
<div th:replace="common/header:: body-bottom-scripts"></div>
<!-- Fim - Replace dos Scripts -->

<!-- Scrips da página -->
<script>
    $(document).ready(
        function () {
            $("#bookListTable").dataTable(
                {
                    "lengthMenu": [[5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "All"]],
                    "ordering": false,
                    stateSave: true
                });
        });
</script>
</body>
</html>